<%- include('../partials/header') %>

<section id="flight-details">
  <div class="property-label">Airline: </div>
  <div class="property"><%= flight.airline %></div>
  <div class="property-label">Airport: </div>
  <div class="property"><%= flight.airport %></div>
  <div class="property-label">Flight Number: </div>
  <div class="property"><%= flight.flightNo %></div>
  <div class="property-label">Departure Time: </div>
  <div class="property"><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
<% if (flight.destinations.length) { %>
    <table id="destinations-table">
        <thead>
          <tr>
            <th>Airport</th>
            <th>Arrival Time</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(d) { %>
            <tr>
              <!-- .toLocaleDateString() provides a more friendly date format -->
              <td><%= d.airport %></td>
              <td><%= d.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
<% } else { %>
    <h4>No Destinations Selected</h4>
<% } %>
<form id="add-destination" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">Austin, TX (AUS)</option>
    <option value="DFW">Dallas, TX (DFW)</option>
    <option value="DEN">Denver, CO (DEN)</option>
    <option value="LAX">Los Angeles, CA (LAX)</option>
    <option value="SAN">San Diego, CA (SAN)</option>
    <option value="ATL">Atlanta, GA (ATL)</option>
    <option value="MIA">Miami, FL (MIA)</option>
    <option value="JFK">New York, NY (JFK)</option>
  </select>
  <label>Arrival Time:
    <input type="datetime-local" name="arrival">
  </label>
  <input type="submit" value="Add Destination">
</form>

<br><br><h2>Tickets</h2>
<a href="/flights/<%= flight._id %>/tickets/new">Add New Ticket</a>


<%- include('../partials/footer') %>
